<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.www.mapper.LogMapper">
    <resultMap id="logResultMap" type="com.example.www.domain.Log">
        <id property="id" column="id"/>
        <result property="loginTime" column="login_time"/>
        <association property="user" column="email" javaType="com.example.www.domain.User" jdbcType="VARCHAR">
            <id property="email" column="email"/>
            <result property="password" column="password"/>
            <result property="loginCount" column="login_count"/>
            <result property="lastLoginTime" column="last_login_time"/>
        </association>
    </resultMap>
    <insert id="save" parameterType="com.example.www.domain.User">
        insert into logs(login_time, email) values (#{loginTime}, #{user.email})
    </insert>
    <select id="findByUserEmail" parameterType="java.lang.String" resultMap="logResultMap">
        select id, login_time, email from logs where email=#{email}
    </select>
</mapper>